:root {
  --extra-light-blue : rgb(147, 248, 255);
  --extra-light-blue-trans : rgb(0 238 255 / 50%);
  --light-blue:#4fb7dc;  /* light */
  --dark-navey: #101630;  /* main */
  --dark-purple: #463fc2; /* purple */
  --shopify:#95bf47;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--dark-navey) ;
}
/* S T A R T    l o a d e r */
/* S T A R T    l o a d e r */
/* S T A R T    l o a d e r */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px 2px var(--light-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}

.sk-chase {
  width: 100px;
  height: 100px;
  position: fixed;
  animation: sk-chase 2.5s infinite linear both;
  z-index: 999999;
  top:48%;
  left: 45%;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:  0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
  -webkit-animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
  -webkit-animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
  } 
} 


@keyframes glow {
  from {
    text-shadow: 0 0 20px #fff, 0 0 10px var(--light-blue), 0 0 10px var(--dark-purple), 0 0 10px var(--light-blue), 0 0 10px var(--light-blue), 0 0 10px var(--light-blue), 0 0 10px var(--light-blue);
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 10px var(--light-blue), 0 0 10px var(--dark-purple), 0 0 10px var(--light-blue), 0 0 10px var(--light-blue), 0 0 5px var(--light-blue), 0 0 10px var(--light-blue);
  }
}


.load-layer{
  position: fixed;
  background-color: var(--extra-light-blue-trans);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* E N D    l o a d e r */
/* E N D    l o a d e r */
/* E N D    l o a d e r */


  .intro {

    padding: 10rem 0 10rem 0;
    overflow: hidden;
  }
  
  #home {
    padding-top: 10rem;
  }
  
  .about-me{
    padding: 10rem 0 10rem 0;
    overflow: hidden;
  }
  
  .about-me p{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    color: #ddd;
    width: 90%;
  }
  
  .about-me .my-img-container{
    max-width: 400px;
    margin: auto;
  }
  
  .about-me .my-img-container img{
    width: 100%;
    background: #101630;
    display: block;
    border-radius: 11rem;
  }
  .about-me .me-border{
    
    margin: 1rem 0.5rem;
    padding: 0.5rem 0;
  }
  .about-me .frame{
    position: relative;
    background-color: var(--dark-purple);
    background-image: linear-gradient(315deg, var(--dark-purple) 15%, var(--light-blue) 85%);
    box-shadow: 15px 5px 50px 0 var(--dark-purple) , -15px -5px 50px 0 var(--light-blue);
    border-radius: 11rem;
  }
  
  
  .ux{
    background-image: url("../public/images/ux-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ux .cutout{
    mix-blend-mode: lighten; 
    background: #f2f2f2;
    padding: 5rem;
  }
  .ux h2 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--dark-navey);
}



	/* START THE MINI PROJECT BOXES */
				/* START THE MINI PROJECT BOXES */
				/* START THE MINI PROJECT BOXES */
				.grid {
				  position: relative;
				  clear: both;
				  margin: 0 auto;
				  padding: 1em 0 4em;
				  max-width: 1000px;
				  list-style: none;
				  text-align: center;
				}
				
				/* Common style */
				.grid figure {
				  position: relative;
				  float: left;
				  overflow: hidden;
				  margin: 10px 1%;
				  min-width: 320px;
				  max-width: 480px;
				  max-height: 360px;
				  width: 48%;
				  height: auto;
				  background: var(--light-blue);
				  text-align: center;
				  cursor: pointer;
				}
				
				.grid figure img {
				  position: relative;
				  display: block;
				  min-height: 100%;
				  max-width: 100%;
				  opacity: 0.8;
				}
				
				.grid figure figcaption {
				  padding: 2rem ;
				  color: #fff;
				  text-transform: uppercase;
				  font-size: 1.25em;
				  -webkit-backface-visibility: hidden;
				  backface-visibility: hidden;
				}
				
				.grid figure figcaption::before,
				.grid figure figcaption::after {
				  pointer-events: none;
				}
				
				.grid figure figcaption,
				.grid figure figcaption > a {
				  position: absolute;
				  top: 0;
				  left: 0;
				  width: 100%;
				  height: 100%;
				}
				
				/* Anchor will cover the whole item by default */
				/* For some effects it will show as a button */
				.grid figure figcaption > a {
				  z-index: 1000;
				  text-indent: 200%;
				  white-space: nowrap;
				  font-size: 0;
				  opacity: 0;
				}
				
				.grid figure h2,
				.grid figure p {
				  margin: 0;
				}
				
				figure.project-block {
				  background-color: var(--dark-purple);
				  background-image: linear-gradient(315deg, var(--dark-purple) 15%, var(--light-blue) 85%);
				  box-shadow: 0px 0px 20px 0 var(--dark-purple) , 0px 0px 20px 0 var(--light-blue);
				  border-radius: 1rem;
				  padding: 0.5rem;
				}
				/* .min-projects .frame{
				  background-color: var(--dark-purple);
				  background-image: linear-gradient(315deg, var(--dark-purple) 15%, var(--light-blue) 85%);
				  box-shadow: 0px 0px 20px 0 var(--dark-purple) , 0px 0px 20px 0 var(--light-blue);
				  border-radius: 1rem;
				  padding: 0.5rem;
				} */
				
				figure.project-block img {
				  max-width: none;
				  height: 400px;
				  -webkit-transition: opacity 1s, -webkit-transform 1s;
				  transition: opacity 1s, transform 1s;
				  -webkit-backface-visibility: hidden;
				  backface-visibility: hidden;
				}
				
				figure.project-block figcaption {
				  text-align: left;
				}
				
				
				figure.project-block p {
				  display: inline-block;
				  margin: 0 0 0.25rem;
				  padding: 0.5rem 1rem;
				  background-color:var(--dark-purple) ;
				  background-image: linear-gradient(315deg, var(--dark-purple) 0%, var(--light-blue) 85%);
				  color: white;
				  border-radius: 2rem;
				  text-transform: none;
				  font-weight: 400;
				  font-size: 1rem;
				  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				  transition: opacity 0.35s, transform 0.35s;
				  -webkit-transform: translate3d(-360px,0,0);
				  transform: translate3d(-360px,0,0);
				}
				
				figure.project-block p:first-child {
				  -webkit-transition-delay: 0.15s;
				  transition-delay: 0.15s;
				}
				
				figure.project-block p:nth-of-type(2) {
				  -webkit-transition-delay: 0.1s;
				  transition-delay: 0.1s;
				}
				
				figure.project-block p:nth-of-type(3) {
				  -webkit-transition-delay: 0.05s;
				  transition-delay: 0.05s;
				}
				
				figure.project-block:hover p:first-child {
				  -webkit-transition-delay: 0s;
				  transition-delay: 0s;
				}
				
				figure.project-block:hover p:nth-of-type(2) {
				  -webkit-transition-delay: 0.05s;
				  transition-delay: 0.05s;
				}
				
				figure.project-block:hover p:nth-of-type(3) {
				  -webkit-transition-delay: 0.1s;
				  transition-delay: 0.1s;
				}
				
				figure.project-block:hover img {
				  opacity: 0.4;
				  -webkit-transform: scale3d(1.1,1.1,1);
				  transform: scale3d(1.1,1.1,1);
				}
				
				figure.project-block:hover p {
				  opacity: 1;
				  -webkit-transform: translate3d(0,0,0);
				  transform: translate3d(0,0,0);
				}
				
				/* END THE MINI PROJECT BOXES */
				/* END THE MINI PROJECT BOXES */
				/* END THE MINI PROJECT BOXES */
				
        #projects{
padding: 10rem 0;
        }

  #projects .project-row:nth-child(even){
    flex-direction: row-reverse
  }
  
  #projects .go-to-btn {
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: 400;
    background-color: var(--dark-purple);
    background-image: linear-gradient(315deg, var(--dark-purple) 15%, var(--light-blue) 85%);
    box-shadow: 0 4px 15px 0 var(--light-blue);
    color: white;
    font-size: 1.5rem;
    width: 33.333%;
    max-width: 300px;
    background-size: 300% 100%;
  }
  
  #projects .go-to-btn:hover {
    box-shadow: 0 4px 15px 0 var(--dark-purple);
    background-position: 100% 0;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  #projects .go-to-btn a{
    color: #fff;
    text-decoration: none;
  }
  
  #projects .go-to-btn:after {
    content: ' » ';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  #projects .go-to-btn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  #projects .go-to-btn:hover:after {
    opacity: 1;
    right: 15px;
  }
  
  #projects .colored-container{
    display: flex;
    justify-content: center;
  }
  
  #projects .info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }
  
  
  
  #projects .colored-container .frame{
    border: 5px solid var(--light-blue);
    box-shadow: 0px 0px 80px var(--light-blue);
    border-radius: 5rem;
    overflow: hidden;
    width: 85%;
  }
  
  #projects .colored-container .brand-img{
    width: 100%;
  }
  
  #projects .colored-container .brand-logo{
    max-width: 130px;
    border-radius: 4rem;
    overflow: hidden;
    border: 5px solid var(--light-blue);
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate( -50%, 0%);
    
  }
  #projects .colored-container .brand-logo img{
    width: 100%;
    background: #fff;
  }
  .tech {
    padding-top: 10rem;
  }
  .tech .tech-container{
    background: #f2f2f2; 
    overflow: hidden;
  }
  
  .tech .tech-container img{
    width: 100%;
    max-width: 150px;
  }
  .experience {
    padding: 10rem 0;
  }
  .experience .frame{
    background-color: var(--dark-purple);
    background-image: linear-gradient(315deg, var(--dark-purple) 15%, var(--light-blue) 85%);
    box-shadow: 0px 0px 20px 0 var(--dark-purple) , 0px 0px 20px 0 var(--light-blue);
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .experience .row-container {
    padding: 5rem 0;
}
  .experience .frame .work{
    background: var(--dark-navey);
    padding: 2rem;
    border-radius: 0.5rem;
    min-height: 825px;
  }
  .experience .frame .auto-height{
    min-height: auto;
  }
  
  .experience h3{
    padding: 2rem 0 0 0;
    color: #fff;
  }
  .experience .frame .work .date{
    color: var(--light-blue);
  }
  
  .experience p{
    font-size: 1.3rem;
    padding-top: 3rem;
    
  }
  .experience .work li{
    list-style: none;
  }
  
  .experience .work li a{
    text-decoration: none;
    color: var(--light-blue);
    transition-duration: .25s;
  }
  
  .experience .work li a:hover{
    padding-left: 7px;
    color: #ddd;
  }
  
  
  .contact{
    background-color:var(--dark-purple) ;
    background-image: linear-gradient(315deg, var(--light-blue)  0%, var(--dark-purple) 85%);
  }
  
  .contact .info .icon-info a{
    color: #fff;
    text-decoration:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-duration: 0.25s;
    
  }
  .contact .info .icon-info span{
    color: #fff;
    font-size: 1.3rem;
  }
  .contact .info .icon-info{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .contact .info .icon-info a:hover{
    scale: 1.07;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .contact .info .icon-info .icon{ 
    padding: 1rem;
    background-color: var(--dark-navey);
    border-radius: 1rem;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .contact .logo-container{
    width: 100%;
  }
  
  /* Custom Styles*/
  /* Custom Styles*/
  /* Custom Styles*/
  /* Custom Styles*/
  
  
  .font-aref{
    font-family: 'Aref Ruqaa', serif;      /* signiture font */
  }
  .font-average{
    font-family: 'Average Sans', sans-serif; /* body font */
  } 
  .font-Montserrat{
    font-family: 'Montserrat', sans-serif;
  }
  
  .relative-div{
    position: relative;
  }
  .overlay{
    background-color: var(--extra-light-blue-trans);
    width: 100%;
  }
  .light-blue{
    color: var(--light-blue);
  }
  .clearfix{
    clear: both;
  }
  .big-btn{
    padding: 15px 25px;
    text-align: center;
    font-weight: 400;
    background-color:var(--dark-purple) ;
    background-image: linear-gradient(315deg, var(--dark-purple) 15%, var(--light-blue) 85%);
    box-shadow: 0 4px 15px 0 var(--light-blue);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    width: 33.333%;
    max-width: 300px;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    border-radius: 1rem;
  }
  
  .big-btn:hover {
    box-shadow: 0 4px 15px 0 var(--dark-purple);
    background-position: 100% 0;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  
  .big-btn:focus {
    outline: none;
  }
  
  .glow {
    letter-spacing: 2px;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }   
  
  .shopify{
    color: var(--shopify);
  }
  h1, h2, h3 {
    color: #fff;
  }
  
  p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    color: #ddd;
  }
  
  .pv-sm{
    padding: 7rem 0;
  }
  
  .pv-md{
    padding: 10rem 0;
  }
  
  .pv-lg{
    padding: 15rem 0;
  }
  
  /*   RESPONSIVE SCREENS FOT MOBILE PHONES AND TABLETS  */
  /*   RESPONSIVE SCREENS FOT MOBILE PHONES AND TABLETS  */
  /*   RESPONSIVE SCREENS FOT MOBILE PHONES AND TABLETS  */
  
  
  
  /* START BOOTSTRAP SM SCREENS  */
  @media (max-width:767px){
    
    .about-me p {
      width: 100%;
    }
    
    .big-btn{
      font-size: 1.1rem;
      width: 50%;
    }
    #go-top {
      padding: 1rem;
      width: 60px;
      height: 60px;
    }    
    p {
      font-size: 1.1rem;
      font-weight: 400;
      text-align: center;
    }
    #projects .colored-container {
      width: 100% !important;
    }
    #projects .colored-container .brand-logo {
      max-width: 100px;
    }
    .experience .frame .work {
      padding: 1rem;
    }
    .contact .info .icon-info span {
      font-size: 1rem;
    }
    
  }
  /* END BOOTSTRAP SM SCREENS  */
  
  
  
  
  
  
  /* START BOOTSTRAP MD SCREENS  */
  @media (max-width:991px){
    
    .intro h1{
      font-size: 3rem !important;
    }
    .about-me p {
      font-size: 1.1rem;
      font-weight: 500;
      width: 100%;
    }
    .about-me {
      padding: 2rem 0 ;
    }
    
    .pv-sm{
      padding: 5rem 0;
    }
    
    .pv-md{
      padding: 5rem 0;
    }
    
    .pv-lg{
      padding: 5rem 0;
    }
    
    #projects .project-row:nth-child(even){
      flex-direction: row;
    }
    
    #projects .project-row{
      flex-direction: column-reverse !important;
    }
        
    #projects .go-to-btn {
      padding: .7rem 1.3rem;
      font-size: 1rem;
      width: 100%;
      margin: 0 !important;
    }
    
    #projects .info {
      padding-top: 2rem;
      align-items: center;
    }
    #projects .colored-container {
      width: 70%;
      margin: auto;
    }
    .ux .cutout {
      padding: 0;
    }
    .ux h2 {
      font-size: 3rem;
      margin: 0;
    }
    .glow {
      font-size: 3rem;
    }
    .tech .prog-l{
      display: flex;
      justify-content: center;
      padding:1rem 0;
    }
    .experience .row-container {
      padding: 5rem 0;
  }
    
  }   
  /* END BOOTSTRAP MD SCREENS  */
  
  
  
  
  
  
  
  
  /* START CUSTOM  SCREENS  */
  @media (max-width:1249px){
    

  }
  
  
  @media (min-width:1250px){
   
    
  }  
  /* END CUSTOM  SCREENS  */
  